@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

@mixin checkScreen ($bp) {
     @media screen and(min-width: $bp) {
      @content;
    }
}

$roboto : 'Roboto', sans-serif;
$playfair : 'Playfair Display', serif;

// COLOR THEME
$cream : #CAB380;
$lightCream : #cdb192;
$lgrey  : #ACACAC;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $roboto!important;
}

h1,h2,h3,h4,h5,h6,p,span,{
    &::selection {
        color: #fff;
        background-color:$lightCream;
    }
}


//-------------------WEDDING DATE-----------------------
.wedding-date{
    display: none;
}

.wedding-date.c-white{
    color: #fff;
    &::before{
        background-color:#fff;
    }
}

.wedding-date.c-gray{
    color: $lgrey;
    &::before{
        background-color:$lgrey;
    }
}

@include checkScreen($md){
    .wedding-date{
        display: block;
        position:absolute;
        transform: rotate(-90deg);
        right: -50px;
        font-size: 14px;
        letter-spacing: 5px;

        &::before{
            display: inline-block;
            content:'';
            width:40px;
            height: 1px;
            margin-bottom: 4px;
            margin-right: 10px;
        }
    }
}

// ---------------NAVBAR------------------
.navbar{
    z-index: 10;
    position: absolute;
    width: 100%;
    background-color:#fff;

    .navbar-brand{
        font-family: $playfair;
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 1px;
        color: #000;
    }

    .navbar-toggler{
        cursor: pointer;
        color: #7C7C7C;
    }

    #navbarMenu{
        a{
            margin: 0 20px;
            text-transform: uppercase;
            font-family: $roboto!important;
            letter-spacing: 3.5px;
            font-size: 13.5px;
            color: #000;
            padding: 25px 0;
            padding-left: 0;
            margin-left: 0;
        }

        button{
            text-align: center;
            border-radius: 0;
            border: none;
            box-shadow: none;
            outline: none;
            padding: 10px 40px;
            background:#000;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 3px;
            margin-bottom: 50px;

            &:hover{
                background: $cream;
                color: #000;
            }

            &:focus{
                outline: none;
                border: none;
                box-shadow: none;
            }
        }
    }
}

@include checkScreen($md) {
    .navbar{
        background: none;
        padding: 20px 0;
        transition:300ms;

        .navbar-brand{
            color: #fff;
            padding: 0;
        }


        #navbarMenu {
            padding: 0;
            a{
                color: #fff;
                margin: 0 20px;
                padding: 0 8px;
                transition:300ms;
            }

            button{
                margin:0;
            }
        }
    }

    .navbar.sticky{
        position: fixed;
        background-color: #fff;
        padding: 10px 0;
        border-bottom: 1px solid gray;

        .navbar-brand{
            color: #000;
        }

        #navbarMenu{
            a{
                color: #000;
            }
        }
    }
}

// ---------------HEADER------------------
.main-header{
    width: 100%;
    min-height: 600px;
    height: 100vh;
    position: relative;
    overflow: hidden;
    color: #fff;

    .hero-image{
        position: absolute;
        width: 100%;
        height: 100%;
        background-image:url('../assets/slider.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .main-content{
        position: relative;
        text-align: center;
        font-weight: 400;

        h1{
            font-family: $playfair;
            font-size: 45px;
        }

        h3{
            font-family: $roboto;
            font-size: 15px;
            margin-top: 20px;
            letter-spacing: 5px;
        }
    }

    .scroll-down{
        cursor:pointer;
        position: absolute;
        z-index: 9;
        bottom: 25px;
        text-transform: uppercase;
        font-family: $roboto;
        font-weight: 500;
        animation: bounce 4000ms ease-in-out infinite ;
        padding-bottom: 10px;
        span{
            display: inline-block;
            font-size: 13px;   
            letter-spacing: 3px;
            margin-bottom: 15px;
        }

        .icon{
            font-size: 12px;
            transform: scaleY(2.1) scaleX(1.5);
        }
    }
}

@include checkScreen($sm) {
    .main-header{
        .hero-image{
            animation: slomoZoom 35s ease-in-out infinite ;
        }
        .main-content{
            h1{
                font-size: 90px;
            }
            h3{
                font-size: 30px;
            }
        }
    }
}

@keyframes bounce {
    0%{
        transform : translateY(0);
    }
    50%{
        transform : translateY(10px);
    }
    100%{
         transform : translateY(0);
    }
}

@keyframes slomoZoom {
    0%{
        transform : scale(1);
    }
    50%{
        transform : scale(1.15);
    }
    100%{
         transform : scale(1);
    }
}


// ---------------Section Title and Description------------------
section{
    padding: 100px 0;
    .section-title, .section-subtitle, .section-description{
        text-align: center;
        font-family: $roboto;
        &::selection{
            color: #fff;
        }
    }

    .section-title{
        color: $cream;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .section-subtitle{
        font-family: $playfair;
        margin-bottom: 30px;
    }

    .section-description{
        margin: 0 auto;
        color: $lgrey;
        line-height: 1.8;
    }

    @include checkScreen($md){
        .section-description{
            max-width: 60%;
        }
    }
}


// --------------About Us------------------
.about-us{
    position: relative;
    .bride-groom-cards{
        position: relative;
        margin-top: 80px;

        .bride, .groom{
            margin-bottom: 50px;
            &:hover{
                .social-media{
                    opacity: 1;
                }
                .card-img{
                    transform: scale(1.05);
                }
            }

            .title, .name, .text{
                text-align: center;
                font-family: $roboto;
                &::selection{
                    color: #fff;
                    background:$lightCream;
                }
            }

            .title{
                padding-top: 30px;
                margin-bottom: 20px;
                color: $cream;
                text-transform: uppercase;
                letter-spacing: 1px;
            }

            .name{
                font-family: $playfair;
                margin-bottom: 30px;
                font-size: 30px;
            }

            .text{
                margin: 0 auto;
                color: $lgrey;
                line-height: 1.8;
            }
        }

        .img-container{
            width: 100%;
            height: 500px;
            position: relative;
            overflow: hidden;
        }

        .card-img{
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            transition: transform 800ms ease-in-out;
        }
        .bride .card-img{
            background-image: url('../assets/1.png');
        }

        .groom .card-img{
            background-image: url('../assets/2.png');
        }

        .social-media{
            opacity: 0;
            z-index: 5;
            position: absolute;
            left: 50%;
            top: 80%;
            transform: translateX(-50%);
            display: flex;
            flex-direction: row;
            transition: opacity 600ms ease-in-out;
            i{
                cursor: pointer;
                width: 50px;
                height: 50px;
                font-size: 20px;
                background: $lightCream;
                color: #000;
                display: flex;
                margin: 10px;
                border-radius: 50%;
                justify-content:center;
                align-items:center;
                &:hover{
                    color: #fff;
                    background:#000;
                }
            }
        }
    }
}

@include checkScreen($md){
    .about-us{
        .bride-groom-cards{
            margin:60px;
            .bride, .groom {
                padding: 0 30px;
                margin-bottom: 0;
                .text{
                    padding: 0 30px;
                }
            }
        }

        .wedding-date{
            top: 50%;
            transform:rotate(-90deg) translateY(-50%);
        }
    }
}