@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif !important;
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, span::selection {
  color: #fff;
  background-color: #cdb192;
}

.wedding-date {
  display: none;
}

.wedding-date.c-white {
  color: #fff;
}
.wedding-date.c-white::before {
  background-color: #fff;
}

.wedding-date.c-gray {
  color: #ACACAC;
}
.wedding-date.c-gray::before {
  background-color: #ACACAC;
}

@media screen and (min-width: 992px) {
  .wedding-date {
    display: block;
    position: absolute;
    transform: rotate(-90deg);
    right: -50px;
    font-size: 14px;
    letter-spacing: 5px;
  }
  .wedding-date::before {
    display: inline-block;
    content: "";
    width: 40px;
    height: 1px;
    margin-bottom: 4px;
    margin-right: 10px;
  }
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
.preloader {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #cdb192;
  transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.preloader i {
  font-size: 70px;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.preloader.gone {
  transform: translateY(-100%);
  opacity: 0.5;
}

.navbar {
  z-index: 10;
  position: absolute;
  width: 100%;
  background-color: #fff;
}
.navbar .navbar-brand {
  font-family: "Playfair Display", serif;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #000;
}
.navbar .navbar-toggler {
  cursor: pointer;
  color: #7C7C7C;
}
.navbar #navbarMenu a {
  margin: 0 20px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif !important;
  letter-spacing: 3.5px;
  font-size: 13.5px;
  color: #000;
  padding: 25px 0;
  padding-left: 0;
  margin-left: 0;
}
.navbar #navbarMenu button {
  text-align: center;
  border-radius: 0;
  border: none;
  box-shadow: none;
  outline: none;
  padding: 10px 40px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 50px;
}
.navbar #navbarMenu button:hover {
  background: #CAB380;
  color: #000;
}
.navbar #navbarMenu button:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

@media screen and (min-width: 992px) {
  .navbar {
    background: none;
    padding: 20px 0;
    transition: 300ms;
  }
  .navbar .navbar-brand {
    color: #fff;
    padding: 0;
  }
  .navbar #navbarMenu {
    padding: 0;
  }
  .navbar #navbarMenu a {
    color: #fff;
    margin: 0 20px;
    padding: 0 8px;
    transition: 300ms;
  }
  .navbar #navbarMenu button {
    margin: 0;
  }

  .navbar.sticky {
    position: fixed;
    background-color: #fff;
    padding: 10px 0;
    border-bottom: 1px solid gray;
  }
  .navbar.sticky .navbar-brand {
    color: #000;
  }
  .navbar.sticky #navbarMenu a {
    color: #000;
  }
}
.main-header {
  width: 100%;
  min-height: 600px;
  height: 100vh;
  position: relative;
  overflow: hidden;
  color: #fff;
}
.main-header .hero-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../assets/slider.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main-header .main-content {
  position: relative;
  text-align: center;
  font-weight: 400;
}
.main-header .main-content h1 {
  font-family: "Playfair Display", serif;
  font-size: 45px;
}
.main-header .main-content h3 {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin-top: 20px;
  letter-spacing: 5px;
}
.main-header .scroll-down {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  position: absolute;
  z-index: 9;
  bottom: 25px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  animation: bounce 4000ms ease-in-out infinite;
  padding-bottom: 10px;
}
.main-header .scroll-down span {
  display: inline-block;
  font-size: 13px;
  letter-spacing: 3px;
  margin-bottom: 15px;
}
.main-header .scroll-down .icon {
  font-size: 12px;
  transform: scaleY(2.1) scaleX(1.5);
}

@media screen and (min-width: 768px) {
  .main-header .hero-image {
    animation: slomoZoom 35s ease-in-out infinite;
  }
  .main-header .main-content h1 {
    font-size: 90px;
  }
  .main-header .main-content h3 {
    font-size: 30px;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slomoZoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
section {
  padding: 100px 0;
}
section .section-title, section .section-subtitle, section .section-description {
  text-align: center;
  font-family: "Roboto", sans-serif;
}
section .section-title::selection, section .section-subtitle::selection, section .section-description::selection {
  color: #fff;
}
section .section-title {
  color: #CAB380;
  text-transform: uppercase;
  letter-spacing: 1px;
}
section .section-subtitle {
  font-family: "Playfair Display", serif;
  margin-bottom: 30px;
}
section .section-description {
  margin: 0 auto;
  color: #ACACAC;
  line-height: 1.8;
}
@media screen and (min-width: 992px) {
  section .section-description {
    max-width: 60%;
  }
}

.about-us {
  position: relative;
}
.about-us .bride-groom-cards {
  position: relative;
  margin-top: 80px;
}
.about-us .bride-groom-cards .bride, .about-us .bride-groom-cards .groom {
  margin-bottom: 50px;
}
.about-us .bride-groom-cards .bride:hover .social-media, .about-us .bride-groom-cards .groom:hover .social-media {
  opacity: 1;
}
.about-us .bride-groom-cards .bride:hover .card-img, .about-us .bride-groom-cards .groom:hover .card-img {
  transform: scale(1.05);
}
.about-us .bride-groom-cards .bride .title, .about-us .bride-groom-cards .bride .name, .about-us .bride-groom-cards .bride .text, .about-us .bride-groom-cards .groom .title, .about-us .bride-groom-cards .groom .name, .about-us .bride-groom-cards .groom .text {
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.about-us .bride-groom-cards .bride .title::selection, .about-us .bride-groom-cards .bride .name::selection, .about-us .bride-groom-cards .bride .text::selection, .about-us .bride-groom-cards .groom .title::selection, .about-us .bride-groom-cards .groom .name::selection, .about-us .bride-groom-cards .groom .text::selection {
  color: #fff;
  background: #cdb192;
}
.about-us .bride-groom-cards .bride .title, .about-us .bride-groom-cards .groom .title {
  padding-top: 30px;
  margin-bottom: 20px;
  color: #CAB380;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.about-us .bride-groom-cards .bride .name, .about-us .bride-groom-cards .groom .name {
  font-family: "Playfair Display", serif;
  margin-bottom: 30px;
  font-size: 30px;
}
.about-us .bride-groom-cards .bride .text, .about-us .bride-groom-cards .groom .text {
  margin: 0 auto;
  color: #ACACAC;
  line-height: 1.8;
}
.about-us .bride-groom-cards .img-container {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
}
.about-us .bride-groom-cards .card-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 800ms ease-in-out;
}
.about-us .bride-groom-cards .bride .card-img {
  background-image: url("../assets/1.png");
}
.about-us .bride-groom-cards .groom .card-img {
  background-image: url("../assets/2.png");
}
.about-us .bride-groom-cards .social-media {
  opacity: 0;
  z-index: 5;
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  transition: opacity 600ms ease-in-out;
}
.about-us .bride-groom-cards .social-media i {
  cursor: pointer;
  width: 50px;
  height: 50px;
  font-size: 20px;
  background: #cdb192;
  color: #000;
  display: flex;
  margin: 10px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.about-us .bride-groom-cards .social-media i:hover {
  color: #fff;
  background: #000;
}

@media screen and (min-width: 992px) {
  .about-us .bride-groom-cards {
    margin: 60px;
  }
  .about-us .bride-groom-cards .bride, .about-us .bride-groom-cards .groom {
    padding: 0 30px;
    margin-bottom: 0;
  }
  .about-us .bride-groom-cards .bride .text, .about-us .bride-groom-cards .groom .text {
    padding: 0 30px;
  }
  .about-us .wedding-date {
    top: 50%;
    transform: rotate(-90deg) translateY(-50%);
  }
}

/*# sourceMappingURL=main.css.map */
